[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
requests = "*"
pandas = "*"
pyfunctional = "*"

[dev-packages]
pytest-black = "*"
pytest-pydocstyle = "*"
pytest-isort = "*"
pytest-flake8 = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
